<form [formGroup]="form" (ngSubmit)="submit()">
  <h4 class="text-center fw-bold">
    {{ updateMode ? "UPDATE" : "ADD" }} EMPLOYEE
  </h4>
  <hr />
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input
      formControlName="name"
      type="text"
      class="form-control"
      placeholder="*"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      placeholder="*"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Job Title</label>
    <input
      formControlName="jobTitle"
      type="text"
      class="form-control"
      placeholder="*"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Phone</label>
    <input
      formControlName="phone"
      type="text"
      class="form-control"
      placeholder="*"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Image Url</label>
    <input
      formControlName="imageUrl"
      type="text"
      class="form-control"
      placeholder="*"
    />
  </div>
  <button
    type="submit"
    class="btn w-100"
    [ngClass]="updateMode ? 'btn-warning' : 'btn-primary'"
    [disabled]="form.invalid"
  >
    {{ updateMode ? "Update" : "ADD" }} Employee
  </button>
</form>
